.jumbotron {
  text-align: center;
  background-color: #F0E68C;
}
body {
  background-color: grey;
}
.sidebar {
  float: left;
  color: white;
}
.btn {
  color: black;
}
.col-md-3 {
  background-color: #00FA9A;
  color: white;
  height: auto;
}
.col-md-9 {
  background-color: aquamarine;
}
