.jumbotron {
  text-align: center;
  background-color: #F0E68C;
}
body {
  background-color: ;
  color: ;
}
.sidebar {
  float: left;
  background-color: #00FA9A;
  height: ;
  color: white;
}
#ping-pong {
  color: ;
}
.btn {
  color: black;
}
